.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.form-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}

.form-client {
    grid-row-start: 1;
    grid-row-end: 2;
}

