.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.main-input {
    grid-column-start: 1;
    grid-column-end: 3;
}
.form-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    gap: 25px;
}

.form-client {
    grid-row-start: 1;
    grid-row-end: 2;
}

