.routes-viewer {
    height: auto;
}
.routes-nav {
    position: absolute;
    left: 0;
}
.routes-viewer .routes-nav {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}